
* {
    box-sizing: border-box;
  }
  
  html {
    height: 100%; /* tells the browser to cover at least 100% of the screen */
  
  }

  body {
      margin: auto;
      font-family: 'Roboto Mono', monospace;
  }
 
  p,
  .pokemon-list {
      margin: auto;
      max-width: 600px;
      font-size: calc(0.75em + 1vw);
      font-size
      }
  

.pokemon-li{
  display: flex;
  justify-content: center;
  list-style: none;
}
.pokemon-button{
  margin: 5px;
  width: 80%;
  max-width: 300px;
  padding: 15px;
  
  display: block;

  color:blue;
}

